body {
    background: black;
    color: #f0f0f0;
}

.login-box {
    margin-top: 100px;
}

.seed-box {
    word-break: break-all;
}

.word-break {
    word-break: break-all
}

.compose-inp {
    margin: 2%;
    border-radius: 0;
}

.compose-box {
    margin-top: 10em;
}

.mail-list {
    margin-top: 5em;
    color: black;
}

.mails {
    margin: 1em;
    color: black
}

.public-address {
    margin-top: 1em;
}